.navbar{
    list-style-type: none;
    margin: auto;
    margin-top: -10px;
    padding: 0;
    display:flex;
    justify-content: center;
    align-content: center;
    animation: fadeNavbar 1s;
}

ul {
    list-style-type: none;
    height: 10vh;
    margin: auto;
    padding: 0;
    display: flex;
    width: 100%;
    background-color: #083b31;
    position: fixed;
  }

li{
  margin: auto;
  }  

li a {
display: flex;
justify-content: center;
margin: auto;
text-align: center;
align-items: center;
text-decoration: none;
color: rgb(216, 216, 216);
border: 0px solid red;
width: 15vw;
height: 90px;
min-width: 20vw;
  }

/* Change the link color on hover */
li a:hover {
background-color: #555;
color: white;
  }


html{
    scroll-behavior: smooth;
}



body{
    background-color: #14B393;
    margin-left: 50px;
    margin-right: 50px;
  }
  
img{
display: flex;
align: center;
margin: auto;
width: 80vw;
height: auto;
margin-top: 10vh;
  }

table{
font-family: arial, sans-serif;
border-collapse: collapse;
width: 300px
  }

td, th{
padding: 8px;
border: 1px solid black;
  }

tr:nth-child(even){
background-color: "#5g68ga";
  }

p.ex1{     /*this is for a specific paragraph with the tag "ex1"*/ 
width: 85%;
padding:0px;
margin: auto;
display: flex;
font-family: arial, sans-serif;
border: 0px solid red;
  }

head{
margin: 10%;
  }

h1 {
color: rgb(0, 0, 97);
  }

h3{
text-decoration: underline;
}

hr.default{
    border: 2px solid black;
    border-radius: 10px;
}

.mySlides{
display: none;
  }

.section {
padding-top: 75px; 
  }

.fade-image{
    animation: fadeImage 2s;
}

.fade-text{
    animation: fadeText 4s;
}

@keyframes fadeImage {
    0% {opacity: 0; margin-left: 100px}
    100% {opacity: 1; margin-left: 0px}
}

@keyframes fadeText {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeNavbar {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
