
body{
  background-color: grey;
}

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;

}

td, th{
  border: 1px solid #5g68ga;
  text-align: left;
  padding: 8px;

}

tr:nth-child(even){
  background-color: #5g68ga;
}

p.ex1{
margin-left: 2px;
}

head{
  margin-left: 15%;
}

h1 {
  color: navy;
}
